/* Add styles to center the content */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #96a5b4;
  }

  .container {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .quantity a {
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }

  .quantity a:hover {
    background-color: #0056b3;
  }

  .quantity_input {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 10px;
  }